<mat-card class="product-card">
  <mat-card-header>
    <mat-card-title class="product-name">{{ product.name }}</mat-card-title>
    <mat-card-subtitle class="product-category">{{ product.category.name }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="product-image" [src]="product.imageUrl" alt="Foto do produto">
  <mat-card-content>
    <p>{{ product.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="openAddToCartDialog()">ADICIONAR AO CARRINHO</button>
  </mat-card-actions>
</mat-card>

